<div class="painel">
  <h1>Receitas</h1>
  <p>Dados relativos à previsão e à arrecadação de receitas próprias pelo Senado Federal a partir de 2012.</p>
</div>

<mat-card>
  <mat-card-title>Receitas liquidas</mat-card-title>
  <mat-card-subtitle class="subtitulo">Ano a ano - desde 2012</mat-card-subtitle>
  <canvas id="meu_primeiro_grafico"></canvas>
</mat-card>

<mat-card>
  <mat-card-title>Receitas Previstas</mat-card-title>
  <mat-card-subtitle>De 2012 a 2022</mat-card-subtitle>
  <canvas id="segundo_grafico"></canvas>
</mat-card>

<mat-card>
  <mat-card-title>Receitas Arrecadadas Liquidas</mat-card-title>
  <mat-card-subtitle>De 2012 a 2022</mat-card-subtitle>
  <canvas id="terceiro_grafico"></canvas>
</mat-card>

<div class="painel">
  <h1>Despesas</h1>
  <p>Dados relativos à dotação inicial e final alocada ao Senado Federal nos orçamentos anuais, bem como os valores das despesas empenhadas, liquidadas e pagas à conta desses créditos orçamentários, a partir de 2013</p>
</div>

<mat-card>  
  <mat-card-title>Despesas Senado</mat-card-title>
  <mat-card-subtitle>Ano a ano -  desde 2013</mat-card-subtitle>
  <canvas id="quarto_grafico"></canvas>
</mat-card>
